<% if(success && success.length) { %>
    <h1 class='animated fadeInDown success_message'><%= success%></h1>
<% }; %>

<% if(error && error.length) { %>
    <h1 class='error_message'><%= error%></h1>
<% }; %>