
<div class="nav-container">

	<% if(!currentUser) { %>
	<ul class='navbar-left'>
		<li><a class="nav_link" href="/">Home</a></li>
		<li><a class="nav_link" href="/posts">Posts</a></li>
	</ul>
	<ul class='navbar-right'>
		<li><a class="nav_link" href="/register">Register</a></li>
		<li><a class="nav_link" href="/login">Login</a></li>
	</ul>
	<% } else { %>
	<ul class='navbar-left'>
		<li><a class="nav_link" href="/">Home</a></li>
		<li><a class="nav_link" href="/posts">Posts</a></li>
		<li><a class="nav_link" href="/posts/new">New Post</a></li>
	</ul>
	<ul class='navbar-right'>
		<li><a class="nav_link" href="/logout">Logout</a></li>
		<li><a class="nav_link" href="/profile/<%=currentUser.id%>">Your profile</a></li>
	</ul>
	<% } %>
</div>