<% layout('layouts/form') -%>
<div class='container'>
	<form class='form' action="/forgot" method="POST" autocomplete="off">
		<h3>Enter your email to reset the password</h3>
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" autofocus class="form-control">
		</div>
		<div>
			<input type="submit" class="myButton" value="Reset Password">
		</div>
	</form>
</div>
