<% layout('layouts/boilerplate') -%>
<div class='welcome'>
	<h1 class='heading-primary'>
		<span class='heading-primary--main'><%= title %></span>
		<span class='heading-primary--sub'>A place for worldwide skateboards</span>
	</h1>
	
</div>
<div class='steps-main'>
<h2>How it works - simple as 1, 2, 3!</h2>
	<div class="steps clearfix">
		<div>1</div>
		<p>Search the skateboards listed by people all around the world</p>
	</div>
	<div class="steps clearfix">
		<div>2</div>
		<p>Find skateboard of your dreams near your location and learn all the details</p>
	</div>
	<div class="steps clearfix">
		<div>3</div>
		<p>Contact the seller and enjoy the ride!</p>
	</div>
</div>
<div id="map"></div>
<script>
	mapboxgl.accessToken = "<%= mapBoxToken %>";
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>
