<% layout('layouts/form') -%>
<div class='container'>
		<form class='form' action="/reset/<%= token %>" method="POST" autocomplete="off">
		  <h3>Please enter new password for your account</h3>
		  <div>
		    <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus"/>
		  </div>
		  <div>
		    <label for="confirm">Confirm Password</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password"/>
		  </div>
		    <button type="submit" class="myButton">Update Password</button>
		</form>
</div>
