 
 /* Navbar */
  
  .nav-container {
    background-color: #101d2c;
    height: 5vh;
    display: grid;
    grid-template-columns: fit-content 1fr fit-content;
    position: sticky;
    top: 0;
    z-index: 1111;
    letter-spacing: 0.75rem;
    width: 96vw;
    margin-left: 2vw;
  }
  
  .navbar-left {
    grid-column: 1 / 2;
    display: grid;
    list-style: none;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
  }
  
  .navbar-right {
    grid-column: 4 / 5;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    list-style: none;
  }
  
  .nav_link:link, .nav_link:visited {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.5s;
   }
  
   .nav_link:hover {
     color: #fdc830;
   }

   .footer {

    background-color: black;
    color: white;
    font-size: 200%;
    position: absolute;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 96vw;
    margin-left: 2vw;
  }