/* HTML sctucture setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {

  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  background: linear-gradient(to bottom right,#fdfcfb, #e2d1c3);
}

/* Main Grid Layout */

.container {
  display: grid;
  grid-template-rows: 5vh 80vh 70vh 10vh;
  grid-row-gap: 2rem;
  grid-template-columns: 2vw 30vw 56vw 10vw 2vw;
}

/* Navbar */

.nav-container {
  background-color: #101d2c;
  grid-row: 1 / 1;
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: fit-content 1fr fit-content;
  position: sticky;
  top: 0;
  z-index: 1111;
  letter-spacing: 0.75rem;
}

.navbar-left {
  grid-column: 1 / 2;
  display: grid;
  list-style: none;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.navbar-right {
  grid-column: 4 / 5;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  list-style: none;
}

.nav_link:link, .nav_link:visited {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.5s;
 }

 .nav_link:hover {
   color: #fdc830;
 }
/* Header */

.welcome {
  grid-row: 2 / 2;
  grid-column: 2 / 5;
  background: -webkit-linear-gradient(to right, #fdc830, #f37335); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdc830, #f37335);
  display: grid;
  justify-content: center;
  align-content: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-rows: fit-content fit-content;

}
.heading-primary--main {
  grid-row: 1/1;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  
}
 .heading-primary--sub {
      grid-row: 2/2;
      justify-self: center;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
 }

/* Steps section */

.steps-main {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}


.steps div {
  color: #e67e22;
  font-size: 200%;
  height: 5.4rem;
  width: 5.4rem;
  border: 0.2rem solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 2.5rem;
  padding: 1.5rem;
}
.steps p {
  font-size: 200%;
  text-align: center;
}

  h2 {
    padding-top: 5rem;
    font-size: 200%;
    word-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.1rem;
}

h2:after {
  display: block;
  height: 0.2rem;
  background-color: #e67e22;
  content: " ";
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Mapbox Map */

#map {
  grid-row: 3 / 3;
  grid-column: 3 / 5;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.86); 
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.86);
  -webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Footer */

.footer {
  grid-row: 4 / 4;
  grid-column: 2 / 5;
  background-color: #101d2c;
  color: white;
  font-size: 200%;
  display: grid;
  justify-content: center;
  align-content: center;
  
}


/* Flash messages */

.success_message {
  color:whitesmoke;
  background: linear-gradient(to bottom right, #7bed9f, #25BC63);
  position: absolute;
  top: 0;
  left: 33vw;
  right: 33vw;
  text-align: center;
  border-radius: 1rem;
  z-index: -1;
}

.error_message {
  color: whitesmoke;
  background: linear-gradient(to bottom right,#ff6b81, #ff4757);
  position: absolute;
  top: 0;
  left: 33%;
  right: 33%;
  text-align: center;
  border-radius: 1rem;
  z-index: -1;
}



/* Register Page */

.register {
  grid-row: 3/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  width: 60%;
  margin: 0 auto;
}

.register label {
  font-size: 200%;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #ccc;
}

.myButton {
  margin-top: 1rem;
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}


*:focus {outline: none;}



 

 @keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}