<% layout('layouts/form') -%>
<div class='container'>
<form action="/posts/<%= post.id %>/sendEmail" method="POST" class='form'>
<h3>Send a message to the seller</h3>
	<div>
        <label for='story'>Message</label>
		<textarea name="story" placeholder="Message"></textarea>
    </div>
    	<input type="submit" class='myButton'>
</form>
</div>

